<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header(title)">
<head>
    <meta charset="utf-8"/>
    <title>
        <th:block th:text="${title ?: '首页'}+'--后台管理'"></th:block>
    </title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" th:href="@{/admin/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/admin/css/font_eolqem241z66flxr.css}" media="all" />
    <link rel="stylesheet" th:href="@{/admin/css/main.css}" media="all" />
</head>

</html>
