<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="comments">
<body>
<div th:if="${article}!=null">
    <div th:id="${article.cid ?: 0}" class="comment-container">
        <div id="comments" class="clearfix">
            <div th:if="${article.allowComment}">
                <!--登陆信息-->
                <span class="response">
                <th:block th:if="${session.login_user}">
                    Hi，<a th:href="${session.login_user.homeUrl}" data-no-instant=""
                          th:text="${session.login_user.username}"></a>
                    如果你想 <a href="/logout" title="注销" data-no-instant="">注销</a> ?
                </th:block>
                </span>
                <!--评论表单-->
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" th:value="${article.cid}"/>
                    <input type="hidden" name="_csrf_token" th:value="${_csrf_token}"/>
                    <input type="text" name="author" minlength="1" maxlength="12" id="author"
                           class="form-control input-control clearfix"
                           placeholder="姓名 (*)"/>
                    <input type="email" name="mail" minlength="1" id="mail" class="form-control input-control clearfix"
                           placeholder="邮箱 (*)"/>
                    <input type="url" name="url" id="url" class="form-control input-control clearfix"
                           placeholder="网址 (http://)"/>
                    <textarea name="text" id="textarea" class="form-control" placeholder="评论不能为空哦!"
                              required="required" minlength="5" maxlength="2000"></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            <!--不允许评论-->
            <div th:unless="${article.allowComment}">
                <span class="response">评论已关闭.</span>
            </div>

            <!--评论列表-->
            <div th:if="${comments}!=null">
                <ol class="comment-list">
                    <th:block th:each="comment :${comments.list}">
                        <!--评论item-->
                        <li th:id="'li-comment-'+${comment.coid}" class="comment-body comment-parent comment-odd">
                            <div th:id="'comment-'+${comment.coid}">
                                <div class="comment-view" onclick="">
                                    <!--item头像-->
                                    <div class="comment-header">
                                        <!--设置get请求的参数-->
                                        <img class="avatar"
                                             th:src="@{${commons.gravatar(comment.mail)}(s='80',r='G',d='')}"
                                             th:title="${comment.author}" width="80" height="80"/>
                                        <span class="comment-author">
                                            <a href="##" rel="external nofollow" th:text="${comment.author}"></a>
                                        </span>
                                    </div>
                                    <!--item内容-->
                                    <div class="comment-content">
                                        <span class="comment-author-at"></span>
                                        <p th:utext="${commons.article(comment.content)}"></p>
                                    </div>
                                    <!--item时间信息-->
                                    <div class="comment-meta">
                                        <time class="comment-time" th:text="${commons.fmtdate(comment.created)}"></time>
                                        <span class="comment-reply">
                                            <a rel="nofollow" coId="${comment.coid}"
                                               th:onclick="'TaleComment.reply(\''+${comment.coid}+'\');'">回复</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--评论含有回复-->
                            <div th:if="${comment.levels}>0">
                                <div class="comment-children">
                                    <ol class="comment-list">
                                        <!--回复列表 start-->
                                        <th:block th:each="child :${comment.children}">
                                            <li id="li-comment-${child.coid}"
                                                class="comment-body comment-child comment-level-odd comment-odd">
                                                <div id="comment-${child.coid}">
                                                    <div class="comment-view">
                                                        <div class="comment-header">
                                                            <img class="avatar"
                                                                 th:src="@{${commons.gravatar(child.mail)}(s='80',r='G',d='')}"
                                                                 th:title="${child.author}" width="80" height="80"/>
                                                            <span class="comment-author">
                                                                <a href="##" rel="external nofollow"
                                                                   th:text="${child.author}+'  @  '+${child.agent}"></a>
                                                            </span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <span class="comment-author-at">
                                                               <!--<a th:text="'@'+${child.agent}"></a>-->
                                                            </span>
                                                            <p th:utext="${commons.article(child.content)}"></p>
                                                        </div>
                                                        <div class="comment-meta">
                                                            <time class="comment-time" th:text="${commons.fmtdate(child.created)}"></time>
                                                            <span class="comment-reply">
                                                                <a rel="nofollow"
                                                                   th:onclick="'TaleComment.reply(\''+${child.coid}+'\');'">回复</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </th:block>
                                        <!--回复列表 end-->
                                    </ol>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ol>

                <!--页码-->
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        <th:block th:if="${comments.hasPreviousPage}">
                            <li class="prev"><a th:href="'?cp='+${comments.prePage}+'#comments'">←</a></li>
                        </th:block>
                        <th:block th:each="navIndex : ${comments.navigatepageNums}">
                            <li th:class="${comments.pageNum}==${navIndex}?'current':''"><a
                                    th:href="'?cp='+${navIndex}+'#comments'" th:text="${navIndex}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${comments.hasNextPage}">
                            <li class="next"><a th:href="'?cp='+${comments.nextPage}+'#comments'">→</a></li>
                        </th:block>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="comm/comment::comment"></div>
</html>